.material-container {
  -webkit-box-shadow: 10px 11px 5px -4px #bec9d1;
  -moz-box-shadow: 10px 11px 5px -4px #bec9d1;
  box-shadow: 10px 11px 5px -4px #bec9d1;
}

.intro-left div button, .nav-btn3, .nav-btn2, .nav-btn1 {
  padding: 7px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.intro-left div button {
  border-radius: 10px;
  background-color: #3131bd;
  color: white;
  border-width: 0px;
}

.intro-right, .intro-left {
  display: flex;
  align-items: center;
  margin: 0px 5%;
  height: 100%;
}

.homepage {
  background-color: #e2e0e0;
}

.nav-btn1 {
  background-color: #3131bd;
  color: white;
}

.nav-btn2 {
  background-color: white;
  color: #3131bd;
}

.nav-btn3 {
  border-radius: 0px;
  color: #3131bd;
  background-color: transparent;
  border: none;
  font-weight: 700;
}

.topnav {
  position: fixed;
  display: flex;
  height: 3em;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  border-bottom: 1px solid grey;
  background-color: #e2e0e0;
  z-index: 100;
}

.dropdown-container {
  margin-top: 3.6rem;
  background-color: white;
  color: black;
  width: 60%;
  min-width: 400px;
  max-width: 600px;
  max-height: 400px;
  min-height: 200px;
  overflow: auto;
  position: fixed;
  border: 2px solid #3131bd;
  border-radius: 0px 0px 10px 10px;
  border-top: 1px solid grey;
  z-index: 20;
}
.dropdown-container .title {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  border-bottom: 1px solid grey;
  align-items: center;
}
.dropdown-container .title p {
  font-weight: 500;
}
.dropdown-container .list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e2e0e0;
}
.dropdown-container .tile-container {
  background-color: white;
  display: flex;
  height: 5em;
  margin-bottom: 1em;
}
.dropdown-container .tile-container .btn-container, .dropdown-container .tile-container .list-rating, .dropdown-container .tile-container .list-body, .dropdown-container .tile-container .serial-number {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.dropdown-container .tile-container .serial-number {
  flex: 1;
}
.dropdown-container .tile-container .list-body {
  flex-direction: column;
  flex: 7;
  padding: 0px 10px;
}
.dropdown-container .tile-container .list-body .list-title {
  width: 100%;
  font-weight: 500;
}
.dropdown-container .tile-container .list-body .list-description {
  width: 100%;
}
.dropdown-container .tile-container .list-rating {
  flex: 2;
  flex-direction: column;
}
.dropdown-container .tile-container .list-rating div {
  font-weight: 500;
}
.dropdown-container .tile-container .btn-container {
  flex: 1;
  cursor: pointer3;
}

.close-btn {
  font-size: 18px;
  font-weight: 500;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.nav-container .float-left {
  display: flex;
  align-items: center;
}
.nav-container .float-left form {
  display: flex;
}

.float-right {
  display: flex;
}
.float-right div {
  padding: 0px 5px;
  font-size: 0.8em;
}

.header {
  background-image: url(./assets/images/header-image.png);
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3em;
}

.header-details {
  margin: 0px 50px;
  color: white;
  font-family: sans-serif;
}
.header-details h1 {
  font-size: 3em;
}
.header-details h4 {
  font-size: 1.2em;
  max-width: 700px;
  line-height: 2em;
}

.home-intro {
  display: flex;
  justify-content: space-between;
  height: 250px;
  margin: 10px 0px;
  padding: 10px 0px;
  background-color: white;
}

.intro-left img {
  width: 12rem;
  height: 12rem;
}
.intro-left div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  height: 100%;
}
.intro-left div button {
  margin: 20px 0px;
}
.intro-left div span {
  margin: 20px 0px;
  font-weight: bold;
}

.intro-right {
  max-width: 40%;
  font-weight: 500;
  line-height: 1.5em;
}

.category-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 10px 5%;
  background-color: white;
}
.category-container span {
  font-weight: 600;
  color: #1263f8;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.footer_outer_container {
  display: flex;
  align-items: center;
  height: 120px;
  padding: 0px 5%;
  background-color: white;
}
.footer_outer_container .logo-icon {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer_inner_container {
  flex: 7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer_inner_container img {
  width: 35px;
  height: 35px;
  padding: 5px 15px;
  margin: 10px 10px;
}
.footer_inner_container .copyright {
  font-size: 12px;
  color: #1263f8;
}

.student-page {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.player-container {
  max-width: 640px;
  padding-top: 3em;
  padding-bottom: 10px;
  margin: 0px auto;
}

.page-body {
  display: flex;
  padding: 20px 5%;
  flex-direction: column;
}
.page-body h2, .page-body h4 {
  margin: 0px;
  padding: 1em 0px;
}
.page-body span {
  padding-bottom: 1em;
}

.suggestion-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
}

.moviecard-container {
  display: flex;
  margin: 20px 30px 20px 0px;
  width: 350px;
  height: 400px;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #3131bd;
}
.moviecard-container .course-image {
  display: flex;
  height: 240px;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
}
.moviecard-container .course-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.moviecard-container .card-body {
  display: flex;
  height: 160px;
  padding: 10px;
  border-radius: 20px;
  box-sizing: border-box;
}
.moviecard-container .card-body .favorite-container, .moviecard-container .card-body .user-image {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.moviecard-container .card-body .user-image {
  flex: 2;
  align-items: unset;
}
.moviecard-container .card-body .user-image img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.moviecard-container .card-body .course-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 7;
}
.moviecard-container .card-body .course-details .course-title {
  font-weight: 500;
}
.moviecard-container .card-body .course-details .course-rating {
  font-size: 14px;
}
.moviecard-container .card-body .favorite-container {
  flex: 1;
}

.instructor-page {
  display: flex;
  justify-content: center;
}

.instructor-body {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 50px 5%;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
}

.backDrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-container {
  width: -webkit-fill-available;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  margin-bottom: 2em;
}
.material-container .material-message {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  max-width: 500px;
}
.material-container .material-message p {
  margin-top: 0px;
}
.material-container .material-icon {
  width: 30%;
  min-width: 200px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=App.css.map */
